<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nsapi.niceschoolapi.mapper.SchoolManageMapper">
<!--**************************************************************院系管理***********************************************************************-->
    <!--查询全部院系-->
    <select id="findAllDpm" resultType="SchoolManageVO">
        select *
        from  department d
        <where>
            d.is_del=0
            <if test="dname != null">
                and d.dname=#{dname}
            </if>
        </where>
        order by d.did asc
    </select>
    <!--添加院系-->
    <insert id="addOneDpm" parameterType="DepartmentDB">
        insert into department(dname) values(#{dname})
    </insert>
    <!--编辑院系-->
    <update id="editOneDpm" parameterType="DepartmentDB">
        update department set dname=#{dname} where did=#{did}
    </update>
    <!--删除院系-->
    <update id="delOneDpm" parameterType="int">
        update department set is_del=1 where did=#{did}
    </update>
    <!--**************************************************************专业管理***********************************************************************-->
    <!--查询全部专业-->
    <select id="findAllMajor" resultType="SchoolManageVO">
        select *
        from  major m
        inner join department d on m.did = d.did
        <where>
            m.is_del=0 and d.is_del=0
            <if test="mname != null">
                and m.mname=#{mname}
            </if>
            <if test="dname != null">
                and d.dname=#{dname}
            </if>
        </where>
        order by m.mid asc
    </select>
    <!--添加专业-->
    <insert id="addOneMajor" parameterType="MajorDB">
        insert into major(mname,did) values(#{mname},#{did})
    </insert>
    <!--编辑专业-->
    <update id="editOneMajor" parameterType="MajorDB">
        update major set mname=#{mname},did=#{did} where mid=#{mid}
    </update>
    <!--删除专业-->
    <update id="delOneMajor" parameterType="int">
        update major set is_del=1 where mid={mid}
    </update>
    <!--**************************************************************年级管理***********************************************************************-->
    <!--查询全部年级-->
    <select id="findAllGrade" resultType="SchoolManageVO">
        select *
        from  grade g
        inner join major m on g.mid = m.mid
        inner join department d on m.did = d.did
        <where>
            g.is_del=0 and m.is_del=0 and d.is_del=0
            <if test="gname != null">
                and g.gname=#{gname}
            </if>
            <if test="mname != null">
                and m.mname=#{mname}
            </if>
            <if test="dname != null">
                and d.dname=#{dname}
            </if>
        </where>
        order by g.gid asc
    </select>
    <!--级联院系查询对应专业-->
    <select id="jlSelMajor" resultType="SchoolManageVO">
        select * from department d,major m where m.did=d.did and d.did=#{did}
    </select>
    <!--添加年级-->
    <insert id="addOneGrade" parameterType="MajorDB">
        insert into grade(gname,mid) values(#{gname},#{mid})
    </insert>
    <!--编辑年级-->
    <update id="editOneGrade" parameterType="MajorDB">
        update grade set gname=#{gname},mid=#{mid} where gid=#{gid}
    </update>
     <!--删除年级-->
    <update id="delOneGrade" parameterType="int">
        update grade set is_del=1 where gid=#{gid}
    </update>
    <!--**************************************************************班级管理***********************************************************************-->
    <!--查询全部班级-->
    <select id="findAllClass" resultType="SchoolManageVO">
        select *
        from classinfo c
        inner join grade g on c.gid = g.gid
        inner join major m on g.mid = m.mid
        inner join department d on m.did = d.did
        <where>
                c.is_del=0 and g.is_del=0 and m.is_del=0 and d.is_del=0
                <if test="classname != null">
                    and c.classname=#{classname}
                </if>
                <if test="gname != null">
                    and g.gname=#{gname}
                </if>
                <if test="mname != null">
                    and m.mname=#{mname}
                </if>
                <if test="dname != null">
                    and d.dname=#{dname}
                </if>
        </where>
        order by c.classid asc
    </select>
    <!--级联专业查询对应年级-->
    <select id="jlSelGrade" resultType="SchoolManageVO">
        select * from grade where mid=#{mid} and is_del=0
    </select>
    <!--添加班级-->
    <insert id="addOneClass" parameterType="ClassinfoDB">
        insert into classinfo(classname,gid) values(#{classname},#{gid})
    </insert>
    <!--编辑班级-->
    <update id="editOneClass" parameterType="ClassinfoDB">
        update classinfo set classname=#{classname},gid=#{gid} where classid=#{classid}
    </update>
    <!--删除班级-->
    <update id="delOneClass" parameterType="int">
        update classinfo set is_del=1 where classid=#{classid}
    </update>
    <!--**************************************************************条件查询***********************************************************************-->
    <!--条件查询classname-->
    <select id="tjSelClass" resultType="SchoolManageVO">
        select c.classname from classinfo c
        inner join grade g on c.gid=g.gid
        inner join major m on g.mid=m.mid
        inner join department d on m.did=d.did
        where c.is_del=0 and g.is_del=0 and m.is_del=0 and d.is_del=0
        group by c.classname
    </select>
    <!--条件查询grade-->
    <select id="tjSelGrade" resultType="SchoolManageVO">
        select g.gname from grade g
        inner join major m on g.mid=m.mid
        inner join department d on m.did=d.did
        where g.is_del=0 and d.is_del=0
        <if test="mname != null">
            and m.mid in(select m.mid from major m where m.mname=#{mname} and m.is_del=0)
        </if>
        group by g.gname
    </select>
    <!--条件查询major-->
    <select id="tjSelMajor" resultType="SchoolManageVO">
        select m.mname from major m
        inner join department d on m.did = d.did
        where m.is_del=0
        <if test="dname != null">
            and d.did in(select d.did from department d where d.dname=#{dname} and d.is_del=0)
        </if>
        group by m.mname
    </select>
    <!--条件查询department-->
    <select id="tjSelDpm" resultType="SchoolManageVO">
        select dname from department where is_del=0 group by dname
    </select>
    <!--**************************************************************重复验证***********************************************************************-->
    <select id="checkOneDpm" resultType="Integer">
        select count(*) from department where dname=#{dname} and is_del=0
    </select>
    <select id="checkOneMajor" resultType="Integer">
        select count(*) from major where mname=#{mname} and did=#{did} and is_del=0
    </select>
    <select id="checkOneGrade" resultType="Integer">
        select count(*) from grade where gname=#{gname} and mid=#{mid} and is_del=0
    </select>
    <select id="checkOneClass" resultType="Integer">
        select count(*) from classinfo where classname=#{classname} and gid=#{gid} and is_del=0
    </select>
</mapper>