<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nsapi.niceschoolapi.mapper.SelAllExamMapper">
    <!--管理员查询学生成绩-->
    <select id="selAllExam" resultType="map" parameterType="map">
        select s.stuid,s.sname,se.*,c.cname,c.ccredit,concat(ct.ctname,'/',c.studytype) type
        from student s,stu_exam se,classinfo ci,grade g,major m,department d,stu_course sc,course c,course_type ct
        where s.sid = se.sid and s.classid = ci.classid and ci.gid = g.gid and g.mid = m.mid and m.did = d.did
        and sc.sid = s.sid and se.scid=sc.scid and sc.cid = c.cid and c.mid = m.mid and c.ctid = ct.ctid
        and se.is_del=0 and s.is_del =0
        <if test="classname != null">
            and ci.classname=#{classname}
        </if>
        <if test="gname != null">
            and g.gname=#{gname}
        </if>
        <if test="mname != null">
            and m.mname=#{mname}
        </if>
        <if test="dname != null">
            and d.dname=#{dname}
        </if>
        <if test="stime != null">
            and se.stime=#{stime}
        </if>
    </select>
</mapper>
